{{>navbar}}

    <h1 class="text-center my-5">Historial de Compras</h1>

    <div class="container mt-5">
        <div class="row tm-content-row">
        <div class="col-12 tm-block-col">
            <div class="tm-bg-primary-dark tm-block tm-block-products">
            <div class="tm-product-table-container">
                <table class="table table-hover tm-table-small tm-product-table">
                <thead>
                    <tr>
                    <th scope="col">KG</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Dirección</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Monto</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">
                            <p>1</p>
                        </th>
                        <td class="tm-product-name">Palta hass Chilena</td>
                        <td><p>Manuel Rodriguez 777</p></td>
                        <td>
                            <p>Domingo 8 de Septiembre de 2024</p>
                        </td>
                        <td>
                            <p><strong>$5000</strong></p>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            <p>1</p>
                        </th>
                        <td class="tm-product-name">Palta hass Peruana</td>
                        <td><p>Vergara 777</p></td>
                        <td>
                            <p>Domingo 8 de Septiembre de 2024</p>
                        </td>
                        <td>
                            <p><strong>$3000</strong></p>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            <p>1</p>
                        </th>
                        <td class="tm-product-name">Palta Californiana</td>
                        <td><p>Gorbea 777</p></td>
                        <td>
                            <p>Domingo 8 de Septiembre de 2024</p>
                        </td>
                        <td>
                            <p><strong>$3000</strong></p>
                        </td>
                    </tr>
                </tbody>
                </table>
            </div>
            </div>
        </div>
        </div>

        <h3 class="fw-bold my-5">Total Gastado: <strong>$11.000</strong> </h3>
    </div>


{{>footer}}