
<header class="headerInicio">
    {{>navbar}}

    <div class="px-4 py-5 my-5 text-center d-flex flex-column align-items-center justify-content-center">
        <h1 class="display-5 fw-bold text-white">La web de las paltas</h1>
        <div class="col-lg-6 mx-auto">
          <p class="lead mb-4">Que ricas que son las paltas</p>
        </div>
    </div>


</header>


<section class="py-3 py-md-5 py-xl-8 ultimosProductos my-5">
  <div class="container slider-container" id="new-products">
      <div class="row justify-content-md-center">
          <div class="col-12 col-md-10 col-lg-8 col-xl-7 col-xxl-6">
          <h2 class="mb-4 display-5 text-center">Últimos productos</h2>
          <p class="text-secondary mb-5 text-center lead fs-4">Our diverse experts work tirelessly to deliver innovative solutions tailored to our clients' needs.</p>
          <hr class="w-50 mx-auto mb-5 mb-xl-9 border-dark-subtle">
          </div>
      </div>


      <div class="ultimosProductos d-flex flex-column flex-md-row justify-content-center align-items-center">
        <div class="row d-flex justify-content-center align-items-center">
          <div class="card col-12 col-md-4 col-xl-3 mx-3 my-3">
            <img class="card-img-top" src="/images/paltahasschilena.webp" alt="card image cap" >
            <div class="card-body">
              <h5 class="card-title fs-2 fw-bold">Palta Hass Chilena</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="/producto" class="btn btn-primary d-block my-3">Ver Producto</a>
              <a href="#" class="btn btn-success d-block">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-cart-plus-fill" viewBox="0 0 16 16">
                  <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0m7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0M9 5.5V7h1.5a.5.5 0 0 1 0 1H9v1.5a.5.5 0 0 1-1 0V8H6.5a.5.5 0 0 1 0-1H8V5.5a.5.5 0 0 1 1 0"/>
                </svg>
              </a>
            </div>
          </div>

          <div class="card col-12 col-md-4 col-xl-3 mx-3 my-3">
            <img class="card-img-top" src="/images/paltahassperuana.jpg" alt="card image cap" >
            <div class="card-body">
              <h5 class="card-title fs-2 fw-bold">Palta Hass Peruana</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="/producto" class="btn btn-primary d-block my-3">Ver Producto</a>
              <a href="#" class="btn btn-success d-block">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-cart-plus-fill" viewBox="0 0 16 16">
                  <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0m7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0M9 5.5V7h1.5a.5.5 0 0 1 0 1H9v1.5a.5.5 0 0 1-1 0V8H6.5a.5.5 0 0 1 0-1H8V5.5a.5.5 0 0 1 1 0"/>
                </svg>
              </a>
            </div>
          </div>

          <div class="card col-12 col-md-4 col-xl-3 ms-3 my-3">
            <img class="card-img-top" src="/images/paltacaliforniana.jpg" alt="card image cap" >
            <div class="card-body">
              <h5 class="card-title fs-2 fw-bold">Palta Californiana</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="/producto" class="btn btn-primary d-block my-3">Ver Producto</a>
              <a href="#" class="btn btn-success d-block">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-cart-plus-fill" viewBox="0 0 16 16">
                  <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0m7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0M9 5.5V7h1.5a.5.5 0 0 1 0 1H9v1.5a.5.5 0 0 1-1 0V8H6.5a.5.5 0 0 1 0-1H8V5.5a.5.5 0 0 1 1 0"/>
                </svg>
              </a>
            </div>
          </div>

        </div>


      </div>

  </div>
  
</section>


    <!-- About 7 - Bootstrap Brain Component -->
<section class="py-3 py-md-5 py-xl-8">
    <div class="container">
    <div class="row justify-content-md-center">
        <div class="col-12 col-md-10 col-lg-8 col-xl-7 col-xxl-6">
        <h2 class="mb-4 display-5 text-center">Acerca de Nosotros</h2>
        <p class="text-secondary mb-5 text-center lead fs-4">Conoce un poco de nuestra historia y de lo que ofrecemos</p>
        <hr class="w-50 mx-auto mb-5 mb-xl-9 border-dark-subtle">
        </div>
    </div>
    </div>

    <div class="container">
        <div class="row gy-4 gy-lg-0 align-items-lg-center">
            <div class="col-12 col-lg-6">
                <img class="img-fluid rounded border border-dark" loading="lazy" src="/images/paltaAcercaDeNosotros.jpg" alt="About Us">
            </div>
            <div class="col-12 col-lg-6 col-xxl-6">
            <div class="row justify-content-lg-end">
                <div class="col-12 col-lg-11">
                <div class="about-wrapper">
                    <p class="lead mb-4 mb-md-5">En PaltaClick, nuestra pasión por el aguacate se refleja en cada fruta que ofrecemos. Fundada con el propósito de conectar a los amantes del aguacate con la mejor calidad de paltas chilenas, nuestra empresa se enorgullece de ser un puente entre la tradición agrícola de Chile y los consumidores modernos.</p>
                    <div class="row gy-4 mb-4 mb-md-5">
                    <div class="col-12 col-md-6">
                        <div class="card border border-dark">
                            <div class="card-body p-4">
                                <h3 class="display-5 fw-bold text-primary text-center mb-2">370+</h3>
                                <p class="fw-bold text-center m-0">Qualified Experts</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="card border border-dark">
                        <div class="card-body p-4">
                            <h3 class="display-5 fw-bold text-primary text-center mb-2">18k+</h3>
                            <p class="fw-bold text-center m-0">Satisfied Clients</p>
                        </div>
                        </div>
                    </div>
                    </div>
                    <a href="/nosotros" class="btn btn-primary bsb-btn-2xl">
                    Conoce más de nosotros
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8" />
                    </svg>
                    </a>
                </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</section>

{{>footer}}